
.progess-item{
  flex: 1;
  padding: 15px 15px 0 15px;
  border-radius: 30px;
  background-color: #222B36;
  margin: 0 25px;
    .progess-icon{
        width: 110px;
        height: 110px;
    }
    .progress-info{
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        .value-text{
            flex: 1;
            padding-left: 15px;
            h2{
                font-size: 2.0243rem;
                line-height: 1.235;
                margin-bottom: 5px;
            }
            h6{
                font-weight: 500;
                font-size: 0.875rem;
                line-height: 1.57;
                color: rgb(255, 255, 255);
            }
        }
        .upIcon{
            background-color: rgba(76, 175, 80, 0.08);
            color: rgb(76, 175, 80);
            font-size: 0.8rem;
            line-height: 1;
            border-radius: 16px;
            overflow: hidden;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .progess-btn{
        border-top: 1px solid rgba(206, 200, 200, 0.205);
       padding: 5px 0;
  
      h3{
        color: rgb(104, 142, 255);
        margin: 0;
        border-radius: 15px;
        transition: 0.3s;
       width: max-content;
        padding: 6px 10px;
        font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.75;
    cursor: pointer;
    &:hover{
        background-color: rgba(104, 142, 255, 0.08);
    }
      }
    }
}